<div class="button-bar">
  <button
    id="transport-btn-add"
    mat-raised-button
    (click)="onClick('ticker-add')"
    tabindex="0">
    add
  </button>

  <button
    id="transport-btn-remove"
    mat-raised-button
    (click)="onClick('ticker-remove')"
    tabindex="0">
    remove
  </button>

  <button
    id="transport-btn-clear"
    mat-raised-button
    (click)="onClick('ticker-clear')"
    tabindex="0">
    clear_all
  </button>

  <button
    id="transport-btn-refresh"
    mat-raised-button
    (click)="onClick('ticker-refresh')"
    tabindex="0">
    loop
  </button>

  <button
    id="transport-btn-snap"
    mat-raised-button
    (click)="onClick('ticker-save')"
    tabindex="0">
    camera_alt
  </button>
</div>
