.slide-container {
  width: 100%; /* Width of the outside container */
  height: 50%;
  font-size: smaller;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  /*transform: rotate(270deg);*/
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.card:not(.highlight-card) {
  height: 16px;
  margin: 8px 0;
}

.card.highlight-card span {
  margin-left: 72px;
}

.slider-card {
  all: unset;
  border-radius: 4px;
  /*border: 1px solid #eee;*/
  background-color: #fafafa;
  height: 8px;
  width: 100px;
  /*margin: 0 8px 16px;*/
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  border-style: dotted;
  border-width: thin;
  font-size: smaller;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
  border-style: dashed;
  border-width: thin;
}

/*.card.card-small {*/
/*  height: 16px;*/
/*  width: 168px;*/
/*  border-style: dashed;*/
/*  border-width: thin;*/
/*}*/

.card-container .card:not(.highlight-card) {
  cursor: pointer;
  border-style: dashed;
  border-width: thin;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  border-style: dashed;
  border-width: thin;
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
  border-style: dashed;
  border-width: thin;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  /*border: none;*/
  width: auto;
  min-width: 30%;
  position: relative;
  border-style: dashed;
  border-width: thin;
}

.card.card.highlight-card span {
  margin-left: 60px;
  border-style: dashed;
  border-width: thin;
}
