<mat-tab-group>
  <mat-tab label="MIDI Interfaces">
    <app-device-table [devices]="ports"></app-device-table>
  </mat-tab>
  <mat-tab label="Synths">
    <app-device-table [devices]="synths"></app-device-table>
  </mat-tab>
  <mat-tab label="Other">
    <app-device-table [devices]="other"></app-device-table>
  </mat-tab>
  <mat-tab label="Devices">
    <table>
      <tr *ngFor="let ins of instruments">
        <td>
          {{ins.name}}
        </td>
        <td>
          {{ins.channel}}
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
