<div class="table-holder">
<table>
  <tr class="header-row">
    <th class="header-cell">name</th>
    <th class="header-cell">description</th>
    <th class="header-cell">vendor</th>
    <th class="header-cell">version</th>
    <th class="header-cell">Max R</th>
    <th class="header-cell">Max T</th>
    <th class="header-cell">Receivers</th>
    <th class="header-cell">Receiver</th>
    <th class="header-cell">Transmitters</th>
    <th class="header-cell">Transmitter</th>
  </tr>
  <tr class="row" *ngFor="let device of devices;">
    <td>{{device.name}}</td>
    <td>{{device.description}}</td>
    <td>{{device.vendor}}</td>
    <td>{{device.version}}</td>
    <td>{{device.maxReceivers }}</td>
    <td>{{device.maxTransmitters}}</td>
    <td>{{device.receivers}}</td>
    <td>{{device.receiver}}</td>
    <td>{{device.transmitters}}</td>
    <td>{{device.transmitter}}</td>
  </tr>
</table>
</div>
