:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: #70bg32;*/
  background-repeat: no-repeat;
  /*background: -webkit-linear-gradient( to left top, blue, red);*/
  /*background: -moz-linear-gradient( to left top, blue, red);*
  /*background: -ms-linear-gradient( to left top, blue, red);*/
  /*background: -o-linear-gradient( to left top, blue, red);*/
  /*background: linear-gradient( to left top, #687878, #11a8de);*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.debug, body {
  border-style: solid;
  border-width: thin;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

body {
  /*background-color: #a3d8ec;*/
  height: 99%;
  /* background-image: url('https://images.unsplash.com/photo-1599854100970-974129a5c8b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjB3YXZlc3xlbnwwfHwwfHw%3D&w=1000&q=80'); */

  /* background-image: url('https://www.red-dot.org/fileadmin/_processed_/9/1/csm_IV1235044-1_568e92817c.jpg'); */
  background-image: url('https://cdn.fansshare.com/image/abstractwallpapers/blue-waves-abstract-wallpaper-blue-2046987242.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(68, 67, 67); */
  /* background-color: #353637; */
  /* background-image: linear-gradient(to left, #f46864, #003954); */
  /* background-image: linear-gradient(to left, #e89105, #2c0ad7); */
  /*border-style: dashed;*/
  /*border-width: thin;*/
  display: flex;
  flex-direction: column;

}

.footer {
  display: flex;
  height: 5%;
  margin: auto auto auto;
  /*padding: 0 16px;*/
  /*max-width: 960px;*/
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: white;
  font-size: small;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.status-bar {
  display: flow;
  /*position: relative;*/
  width: 100%;
  /*gap: 2px;*/
  /*max-width: 600px;*/
  /*border-radius: 6px;*/
  /*padding-top: 45px;*/
  margin-top: 2px;
  overflow: hidden;
  border-style: inset;
  border-width: thin;
  color: white;
  /* background-color: #a9a9a9; */
}


.content {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin: auto auto auto;
  /*padding: 0 16px;*/
  max-width: 960px;
  align-items: stretch;
  align-self: stretch;
  gap: 4px;
  color: white;
  font-size: small;
  border-style: dashed;
  border-width: thin;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

/*table {*/
/*  border-spacing: 0;*/
/*}table {*/
/*   align-self: stretch;*/
/*   !*border-style: dashed;*!*/
/*   !*border-width: thin;*!*/
/* }*/

/*.status-table {*/
/*  margin-top: 4px;*/
/*}*/
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.status-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: flex-start;
}

.two-column-grid-container {
  flex-grow: true;
  display: flex;
  align-items: stretch;
  height: 300px;
}

.player-table-holder,
.rule-table-holder {
  flex-grow: true;
  background-color: transparent;
  padding: 0px;
  padding-top: 0px;
  /* border-radius: 5px; */
  margin-left: 0px;
  margin-right: 0px;
  /* border: 2px solid #f2f2f2; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  align-self: stretch;
  align-content: stretch;
  /* border-style: inset;
  border-width: thin; */
}

.rule-table-holder {
  display: flex;
  flex-direction: column;
  flex-grow: true;
  background-color: transparent;
  padding: 0px;
  padding-top: 0px;
  /* border-radius: 5px; */
  margin-left: 0px;
  margin-right: 0px;
  /* border: 2px solid #f2f2f2; */
  height: 70%;
  width: 100%;
  overflow-y: auto;
  align-self: stretch;
  align-content: stretch;
  /* border-style: inset;
  border-width: thin; */
}

.strike-detail {
  /* height: 29%; */
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  padding: 2px;
  /*margin-top: 16px;*/
  /*border-style: unset;*/
  /*border-width: thin;*/
}

.card-container2 {
  display: grid;
  flex-wrap: nowrap;
  justify-content: stretch;
  padding: 2px;
  grid-template-columns: auto;

  /*margin-top: 16px;*/
  /*border-style: unset;*/
  /*border-width: thin;*/
}

.card {
  all: unset;
  border-radius: 4px;
  /*border: 1px solid #eee;*/
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  /*border-style: dotted;*/
  /*border-width: thin;*/
}

.card-container .card:not(:last-child) {
  margin-right: 0;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card.card-small {
  height: 16px;
  width: 168px;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  /*border: none;*/
  width: auto;
  min-width: 30%;
  position: relative;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

.card.card.highlight-card span {
  margin-left: 60px;
  /*border-style: dashed;*/
  /*border-width: thin;*/
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 100%;
  /*max-width: 600px;*/
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: visible;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: flex-start;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, .35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: blue;
}

/*tr:nth-child(even) {*/
/*  background-color: #f2f2f2;*/
/*}*/

input:hover,
select:hover {
  background-color: blue;
  color: white;
}

.selected-table-row {
  background-color: blue;
  color: white;
}

.active-table-row {
  background-color: transparent;
  color: white;
}

.active-table-row:hover {
  background-color: blue;
  color: white;
}


tbody,
thead tr {
  display: block;
}

tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td,
thead th {
  width: 140px;
}

thead th:last-child {
  width: 156px;
  /* 140px + 16px scrollbar width */
}


/* table tr th:hover {

} */

td,
th {
  /* border: 1px solid #ddd; */
  /* padding: 1px; */
}


.transport-container {
  display: flex;
  gap: 2px;
  background-color: transparent;
  padding: 2px;
  align-items: stretch;
  max-height: 60px;
}

.transport-buttons {
  display: flex;
  gap: 2px;
  background-color: transparent;
  padding: 2px;
  align-self: center;
  align-items: center;
  max-height: 60px;
}

.transport-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  align-content: center;
  text-align: center;
  max-height: 55px;
  margin: 0 0 0 0;
}

.transport-button {
  height: 36px;
  width: 37px;
  font-size: 9px;
  text-align: center;
  align-content: center;
}


.branding-div {
  font-size: xx-small;
  font-style: oblique;
  text-align: left;
  margin-top: 4px;
  align-self: flex-start;
}

.branding-label {
  padding: 2px;
  color: black;
  /*border-style: groove;*/
  background-image: linear-gradient(to left, #e89105, #2c0ad7);
}


.status-rows {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
  /*auto auto auto auto auto auto auto auto auto auto auto auto;*/
  /*background-color: transparent;*/
  /*text-align: center;*/
  color: #1a1c20;
  font-size: small;
  font-weight: normal;
}

.beat-spec-detail {
  gap: 2px;
  padding: 2px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-weight: normal;

}

.status-label {
  font-size: small;
  font-weight: bold;
  margin: 2px 2px 2px 2px;
  padding: 4px;
}

.selector-row {
  font-size: small;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

.status-item {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 5px;
  width: 50px;
  font-size: small;
  text-align: right;
  max-height: 25px;
}

.status-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;
  /*border-style: double;*/
  /*border-width: thin;*/
}

.interface-808 {
  display: grid;
  /*gap: 2px;*/
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.control-panel-808 {
  font-weight: normal;
  grid-column: span 16;
  min-height: 100px;
  height: 100px;
}

.side-panel-808 {
  font-weight: normal;
  margin-top: 26px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  flex-flow: column;
  font-size: smaller;
  align-items: flex-start;
  align-self: stretch;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
}

.lane-808 {
  margin-top: 10px;
  display: flex;
  gap: 2px;
  /* padding: 1px; */
  flex-flow: column;
  font-size: small;
  align-items: center;
  /*border-style: inset;*/
  /*border-width: thin;*/
}

.btn-808 {}

input {
  background-color: transparent;
  color: white;
  text-align: center;
  align-self: stretch;
  gap: 0;
  margin: 0;
  padding: 0;
}

select {
  background-color: transparent;
  color: white;
  text-align: left;
  align-self: stretch;
  gap: 0;
  margin: 0;
  padding: 0;
}

td input {
  max-width: 40px;
  gap: 0;
  margin: 0;
  padding: 0;
  text-align: right;
  align-self: stretch;
}


th {
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  background-color: transparent;
  color: white;
  font-size: small;
  font-weight: normal;
  text-align: left;
}

.selected {
  background-color: #1976d2;
}

.player-short-col {
  width: 25px;
  align-content: stretch;
}

.player-long-col {
  width: 150px;
  align-content: stretch;
}

.player-short-selected-col {
  width: 40px;
  background-color: #12d312;
}

.player-long-selected-col {
  width: 160px;
  background-color: #12d312;
  align-content: stretch;
}

.ticker-param {
  background-color: blue;
  text-align: right;
  width: 40px;
}

.ticker-param-select {
  background-color: blue;
  text-align: right;
  width: 42px;
}


.fixed:hover {
  background-color: black;
}

.fixed {
  background-color: black;
}

.btn-led {
  height: 12px;
  margin: 2px;
  align-self: center;
  text-align: center;
}

.btn-inactive {
  color: #1da7c7;
  border-radius: 25px;
}

.btn-active {
  color: lime;
  border-radius: 25px;
}

.inactive {
  background-color: #ed0114;
  border-radius: 25px;
}

.active {
  background-color: lime;
  border-radius: 25px;
}

.neutral {
  border-radius: 25px;
}

.slider {
  width: 100px;
}

.beat-btn {
  display: flex;
  align-items: center;
  /*background-color: #888888;*/
  height: 40px;
  width: 40px;
  font-size: small;
}

.xox-step-input {
  font-size: smaller;
  max-width: 40px;
}

.label {
  font-size: smaller;
}

.slider-container {
  font-size: smaller;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: transparent;
  padding: 16px;
  line-height: 24px;
  align-self: stretch;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*border-radius: 25px;*/
/*margin-inside: 10px;*/

/*all: unset;*/
/*border-radius: 4px;*/
/*background-color: #fafafa;*/
/*height: 110px;*/
/*width: 275px;*/
/*margin: 0 8px 16px;*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: flex-start;*/
/*align-items: flex-start;*/
/*transition: all 0.2s ease-in-out;*/


/* Page title */
/* ---------------------------------------------------------- */
.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}

.table-holder {
  background-color: transparent;
  padding: 0px;
  padding-top: 0px;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border: 2px solid #f2f2f2;
  height: 150px;
  overflow-y: scroll;
}

.list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 5px;
}

/* ---------------------------------------------------------- */


/* Table styles */
/* ---------------------------------------------------------- */
.table {
  width: 100%;
  border: 2px solid #eeeeee;
  border-width: thin;
}

.float-right {
  float: right;
}

/* ---------------------------------------------------------- */

/* Header styles */
/* ---------------------------------------------------------- */
.header-cell {
  background-color: #393939;
  color: white;
}

.header-cell:not(:first-child) {
  padding-left: 0;
}

/* Style just the text in the header */
.header-cell span {
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

/* Round the top table corners */
.header-cell:first-child {
  border-top-left-radius: 5px;
}

.header-cell:last-child {
  border-top-right-radius: 5px;
}

.header-row {
  height: 3em;
}

.btn-icon {
  height: 17px;
  width: 17px;
  background-color: #393939;
  border: none;
}

.sort-icon {
  height: 17px;
  width: 17px;
  color: white;
}

::ng-deep .sort-header-arrow {
  position: relative;
  left: -1.5rem;
  display: none !important;
  opacity: 0;
}

.header {
  padding: 5px;
}

.header-cell {
  /* color: red!important; */
  /* display: flex; */
  /* align-content: center; */
}

/* ---------------------------------------------------------- */


/* Column styles */
/* ---------------------------------------------------------- */
.type-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.name-column {
  width: 30%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.amount-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.status-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.date-column {
  width: 20%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.state-column {
  width: 5%;
}

/* ---------------------------------------------------------- */

/* Row styles */
/* ---------------------------------------------------------- */
.row:nth-child(2n) {
  background-color: transparent;
}

/* ---------------------------------------------------------- */

/* Cell styles */
/* ---------------------------------------------------------- */
.state-cell {
  text-align: right;
}

.cell {
  border: none;
}

.green-svg {
  fill: #6dd400;
}

.gray-svg {
  fill: #b2b4b6;
}

/* ---------------------------------------------------------- */
.mini-nav,
.app-status-panel {
  display: flex;
  flex-direction: row;
}

.mini-nav-btn {
  padding: 2px;
  margin: 1px;
  height: 28px;
}

.mini-nav-grid {
  display: grid;
  /* gap: 10px; */
  grid-template-columns: auto auto auto auto auto auto auto;
}

.mini-nav-grid-btn {
  padding: 2px;
  height: 20px;
  width: 20px;
  margin: 1px;
}

.app-status-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

