*.class
.gitignore
java/target/maven-status/maven-compiler-plugin/compile/default-compile/*.*
java/target/classes/config/midi.json
java/target/classes/application.properties
java/target/classes/application.properties
java/target/classes/application.properties
