*.class
.gitignore
java/target/maven-status/maven-compiler-plugin/compile/default-compile/*.*
java/target/classes/*.*
java/target/classes/config/*.*
/target/classes/*.*
java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
java/target/surefire-reports/*.txt
java/target/surefire-reports/*.xml
java/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.*
.gitignore
java/target/classes/application.properties
java/target/surefire-reports/2025-01-31T15-10-52_457-jvmRun1.dump
java/target/surefire-reports/2025-01-31T15-10-52_457-jvmRun1.dumpstream
java/target/classes/config/defaults.json
java/target/classes/application.properties
java/target/classes/config/defaults.json
web/alpha/package-lock.json
