<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="content dashboard" role="main">
  <div class="status-container">
    <app-transport-control></app-transport-control>
    <app-status-panel></app-status-panel>
  </div>
  <mat-tab-group>

    <mat-tab label="Sliders">
      <div class="card-container">
        <app-slider-panel></app-slider-panel>
      </div>
    </mat-tab>

    <mat-tab label="Beats">
      <div class="card-container">
        <div class="status-card" [style.min-height.px]="600">
          <app-player-panel [players]="players" (playerSelectEvent)="onPlayerSelected($event)"></app-player-panel>
        </div>
        <div class="card-container">
          <div class="pads-card" [style.min-height.px]="600" [style.width.px]="325">
            <app-conditions-panel [player]="selectedPlayer"></app-conditions-panel>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Pads">
      <div class="card-container2" [style.max-width.px]="230" [style.min-height.px]="280">
        <app-drum-grid></app-drum-grid>
      </div>
    </mat-tab>

  </mat-tab-group>
  <div>
  </div>
</div>

<!--  <div class="card highlight-card card-small">-->
<!--  </div>-->

