<div class="dashboard">
  <mat-tab-group>
    <mat-tab label="Beat Scheduler">
      <app-status-panel [running]="running" [ticker]="ticker"></app-status-panel>
      <div class="two-column-grid-container debug">
        <div class="player-table-holder">
          <app-player-panel [players]="players" (playerSelectEvent)="onPlayerSelected($event)"></app-player-panel>
        </div>
        <div>

          <div class="rule-table-holder">
            <app-conditions-panel *ngIf="selectedPlayer != undefined" (ruleChangeEvent)="onPlayerSelected($event)"
                                [player]="selectedPlayer"></app-conditions-panel>
          </div>
          <app-strike-detail *ngIf="selectedPlayer != undefined" [player]="selectedPlayer"></app-strike-detail>
        </div>
      </div>
      <!-- <app-randomizer-panel></app-randomizer-panel> -->
      <div>
        <app-beat-spec></app-beat-spec>
      </div>
    </mat-tab>
    <mat-tab label="Config">
      <app-device-panel></app-device-panel>
    </mat-tab>
    <mat-tab label="Experimental">
      <mat-tab-group>
        <mat-tab label="drums">
          <app-drum-grid></app-drum-grid>
        </mat-tab>
        <mat-tab label="pads">
          <app-pads-panel></app-pads-panel>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
  <div>
    <div class="status-bar">
      <label class="status-label">Ticker</label>
      <input *ngIf="ticker != undefined" class="status-output" [(ngModel)]="ticker.id">
      <label class="status-label">Strikes</label>
      <input *ngIf="players != undefined" class="status-output" [(ngModel)]="players.length">
      <label></label>
      <label class="status-label" *ngFor="let line of consoleOutput">{{line}}</label>
    </div>
  </div>
  <!-- <app-transport-control (clickEvent)="onActionSelected($event)"></app-transport-control> -->
  <div class="branding-div">
    <label class="branding-label">MultiSequencer, Mark Pippins, angrysurfer.com, 2023</label>
  </div>
</div>
<div class="footer">
</div>
<!--    <pre *ngSwitchDefault>ng generate component xyz</pre>-->
  <!--    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>-->
  <!--    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>-->
  <!--    <pre *ngSwitchCase="'dependency'">ng add _____</pre>-->
  <!--    <pre *ngSwitchCase="'test'">ng test</pre>-->
  <!--    <pre *ngSwitchCase="'build'">ng build</pre>-->

<!--  <div class="card highlight-card card-small">-->
<!--  </div>-->

