<div class="mini-nav">
  <button class="mini-nav-btn" (click)="onClick('ticker-add')">add</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-remove')">remove</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-clear')">clear</button>

  <button class="mini-nav-btn" (click)="onClick('ticker-previous')">prev</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-record')">rec</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-pause')">pause</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-stop')">stop</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-play')">play</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-forward')">forward</button>

  <button class="mini-nav-btn" (click)="onClick('ticker-refresh')">refresh</button>
  <button class="mini-nav-btn" (click)="onClick('ticker-snapshot')">snapshot</button>
</div>
