<div class="lane-808">
  <!-- <div *ngIf="step.active" id="beat-btn-{{step.position}}" class="btn-active onbeat">
    <button (click)="onLaneBtnClick()">
      {{step.position}}
    </button>
  </div> -->
  <!-- <div *ngIf="!step.active" id="beat-btn-{{step.position}}" class="btn-inactive">
    <button (click)="onLaneBtnClick()">
      {{step.position + 1}}
    </button>
  </div> -->
  <!--  <label>Pitch</label>-->
  <div>
    <select class="short-col" type="string" (change)="onNoteChange(step, $event)" [(ngModel)]="step.pitch">
      <option *ngFor="let pitch of pitchMap" [value]="pitch.midi">
        {{pitch.note}}
      </option>
    </select>
  </div>
  <div>
    <input [(ngModel)]="step.velocity" type="range" min="0" max="127" value=1 class=""
      (change)="onVelocityChange(step, $event)">
    <!-- <input class="" type="number" min="1" max="127" (change)="onVelocityChange(step, $event)"
      [(ngModel)]="step.velocity"> -->
  </div>
  <div>
    <input [(ngModel)]="step.probability" type="range" min="0" max="100" value=1 class=""
      (change)="onProbabilityChange(step, $event)">
    <!-- <input class="" type="number" min="0" max="100" (change)="onProbabilityChange(step, $event)"
      [(ngModel)]="step.probability">
  </div> -->
    <div>
      <input [(ngModel)]="step.gate" type="range" min="0" max="100" value=1 class=""
        (change)="onGateChange(step, $event)">
      <!-- <input class="" type="number" min="0" max="100" (change)="onGateChange(step, $event)" [(ngModel)]="step.gate"> -->
    </div>
    <app-drum-pad [active]="active" [pressed]="step.active" [caption]="getCaption()" (padPressedEvent)="onPadPressed($event)"
      [index]="step.position"></app-drum-pad>
    <!-- <div [ngClass]=" flag ? 'primary mini-btn' : 'secondary mini-btn'" *ngIf="active == true"
    (click)="onParamsBtnClick()">Δ
  </div> -->
  </div>
