<div class="lane-808">
  <div [ngClass]=" flag ? 'primary' : 'secondary'" *ngIf="step.active" id="beat-btn-{{step.position}}"
    class="btn-active onbeat">
    <button (click)="onLaneBtnClick()">
      {{step.position + 1}}
    </button>
  </div>
  <div *ngIf="!step.active" id="beat-btn-{{step.position}}" class="btn-inactive">
    <button (click)="onLaneBtnClick()">
      <!-- <mat-icon>album</mat-icon> -->
      {{step.position + 1}}
    </button>
  </div>
  <mat-divider></mat-divider>
  <!--  <label>Pitch</label>-->
  <div>
    <select class="short-col" type="string" (change)="onNoteChange(step, $event)" [(ngModel)]="step.pitch">
      <option *ngFor="let pitch of pitchMap" [value]="pitch.midi">
        {{pitch.note}}
      </option>
    </select>
  </div>
  <div>
    <input class="" type="number" min="1" max="127" (change)="onVelocityChange(step, $event)"
      [(ngModel)]="step.velocity">
  </div>
  <div>
    <input class="" type="number" min="0" max="100" (change)="onProbabilityChange(step, $event)"
      [(ngModel)]="step.probability">
  </div>
  <div>
    <input class="" type="number" min="0" max="100" (change)="onGateChange(step, $event)" [(ngModel)]="step.gate">
  </div>
  <app-drum-pad [index]="step.position"></app-drum-pad>
  <!-- <div [ngClass]=" flag ? 'primary mini-btn' : 'secondary mini-btn'" *ngIf="active == true"
    (click)="onParamsBtnClick()">Δ
  </div> -->

</div>
