<!--<div class="beat-btn" (click)="onLaneBtnClick()">-->
<!--<div class="btn-inactive btn-led lane-808" (click)="onLaneBtnClick()" >-->
<!--  <div id="beat-led-{{step.step}}" class="btn-inactive btn-led" [style.width.px]="15">-->
<!--    {{step.step}}-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<div class="lane-808">
  <!--  <div class="btn-inactive">-->
    <div *ngIf="step.active" id="beat-btn-{{step.position}}" class="btn-active">
      <button mat-icon-button (click)="onLaneBtnClick()">
        <!-- <mat-icon>album</mat-icon> -->
        {{step.position + 1}}
      </button>
    </div>
    <div *ngIf="!step.active" id="beat-btn-{{step.position}}" class="btn-inactive">
    <button mat-icon-button (click)="onLaneBtnClick()">
      <!-- <mat-icon>album</mat-icon> -->
      {{step.position + 1}}
    </button>
  </div>
  <mat-divider></mat-divider>
  <!--  <label>Pitch</label>-->
  <div (scroll)="onNoteScroll($event)">
    <input class="xox-step-input" type="number" min="-12" max="12" (scroll)="onNoteScroll($event)"  (change)="onNoteChange(step, $event)"
           [(ngModel)]="step.pitch">
  </div>
  <!--  <label>Velocity</label>-->
  <div>
    <input class="xox-step-input" type="number" min="1" max="127"  (change)="onVelocityChange(step, $event)"
           [(ngModel)]="step.velocity">
  </div>
  <!--  <label>Probably</label>-->
  <div>
    <input class="xox-step-input" type="number" min="0" max="100"  (change)="onProbabilityChange(step, $event)"
           [(ngModel)]="step.probability">
  </div>
  <!--  <label>Gate Length</label>-->
  <div>
    <input class="xox-step-input" type="number" min="0" max="100"  (change)="onGateChange(step, $event)" [(ngModel)]="step.gate">
  </div>

  <div>
    <button class="lane-808 btn-808" mat-icon-button (click)="onParamsBtnClick()">
      <mat-icon>camera</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="lane-808">
