.selector-row {
  display: flex;
  gap: 4px;
  /*grid-template-columns: auto auto auto auto;*/
  /*auto auto auto auto auto auto auto auto auto auto auto auto;*/
  padding: 5px;
  text-align: left;
  height: 20px;
  font-weight: normal;
  font-size: smaller;
}
