<div class="rule-table-holder">
  <p>Strike Details</p>
  <div>
    <table id="player-table">
      <tr>
        <th>Level</th>
        <!-- <th>Min Velocity</th>
        <th>Max Velocity</th> -->
      </tr>
      <tr>
        <td class="player-short-col" (change)="onLevelChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.level }}">
        </td>
        <!-- <td class="player-short-col" (change)="onMinVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.minVelocity }}">
        </td>
        <td class="player-short-col" (change)="onMaxVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.maxVelocity }}">
        </td> -->
      </tr>
    </table>
  </div>
</div>
