.status-rows {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
  /*auto auto auto auto auto auto auto auto auto auto auto auto;*/
  /*background-color: transparent;*/
  /*text-align: center;*/
  color: #1a1c20;
  font-size: small;
}
.status-label {
  margin-top: 6px;
  font-weight: bold;
}

.status-item {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  width: 50px;
  font-size: small;
  text-align: right;
  max-height: 25px;
}
.status-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;
  border-style: double;
  border-width: thin;
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
/*  background-color: blue;*/
/*}*/

td, th {
  border: 1px solid #ddd;
  padding: 2px;
}

td input {
  max-width: 60px;
  text-align: right;
  align-self: stretch;
}

th {
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  background-color: #04AA6D;
  color: white;
  text-align: center;
  font-size: small;
  font-weight: normal;
}

.player-short-col {
  width: 60px;
}

.player-long-col {
  width: 140px;
}

.fixed {
  color: white;
  font-weight: bold;
  text-align: center;
  min-width: 30px;
}
