<!--<p>status-panel</p>-->
<!--<div class="transport-container">-->
<!--  <app-transport-control (clickEvent)="onClick($event)"></app-transport-control>-->
<!--</div>-->
<div class="default-container">
  <table class="status-table">
    <tr>
      <th *ngFor="let col of statusColumns;">{{col}}</th>
    </tr>
    <tr *ngIf="ticker != undefined">

      <td class="fixed">
        {{ ticker.id }}
      </td>
      <td class="fixed">
        {{ ticker.tick }}
      </td>
      <td class="fixed">
        {{ ticker.beat + 1}}
      </td>
      <td class="fixed">
        {{ ticker.bar}}
      </td>
      <td *ngIf="ticker.playing" class="active">
      </td>
      <td *ngIf="!ticker.playing" class="inactive">
      </td>
      <td>
        <input type="number" disabled="true" value="{{ ticker.ticksPerBeat }}">
      </td>
      <td>
        <input type="number" disabled="true" value="{{ ticker.tempoInBPM }}">
      </td>
      <td>
        <input type="number" disabled="true" value="{{ ticker.beatsPerBar }}">
      </td>
      <td>
        <input type="number" disabled="true" value="{{ ticker.partLength }}">
      </td>
      <td>
        <input type="number" disabled="true" min="1" max="127" step="1" value="{{ ticker.maxTracks }}">
      </td>
    </tr>
  </table>
  <!--  <div class="indicator-card">-->
  <!--    <mat-radio-group [value]="ticker.beat" [(ngModel)]="ticker.beat">-->
  <!--      <mat-radio-button-->
  <!--        *ngFor="let beat of getBeats()"-->
  <!--        [value]="beat"-->
  <!--      ></mat-radio-button>-->
  <!--    </mat-radio-group>-->
  <!--  </div>-->
</div>
<!--&lt;!&ndash;      <div class="status-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <div><b>Bar Length </b>{{ ticker.ticksPerBeat }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="status-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <div><b>Beat / Bar </b>{{ ticker.beatsPerBar }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="status-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <span><b>Part Length </b>{{ ticker.partLength }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="status-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <span><b>Delay </b>{{ ticker.delay }}</span>&ndash;&gt;-->
<!--      </div>-->

<!--      <div class="status-item">-->
<!--        <div><b>Tick </b>{{ ticker.tick }}</div>-->
<!--      </div>-->
<!--      <div class="status-item">-->
<!--        <div><b>Tick </b>{{ ticker.tick }}</div>-->
<!--      </div>-->
<!--      <div class="status-item">-->
<!--        <div><b>Tick </b>{{ ticker.tick }}</div>-->
<!--      </div>-->
<!--      <div class="status-item">-->
<!--        <div><b>Tick </b>{{ ticker.tick }}</div>-->
<!--      </div>-->
<!--    <div class="status-rows">-->
<!--      <span><b>Delay </b>{{ ticker.delay }}</span-->
<!--      <span><b>Done </b>{{ ticker.done }}</span-->
<!--      <span><b>Max Tracks </b>{{ ticker.maxTracks }}</span-->
<!--      ><br/>-->
<!--      <span><b>Playing </b>{{ ticker.playing }}</span-->
<!--      ><br/>-->
<!--      <span><b>Stopped </b>{{ ticker.stopped }}</span-->
<!--      ><br/>-->
<!--      <span><b>Swing </b>{{ ticker.swing }}</span-->
<!--      ><br/></div>-->

