<div class="transport-buttons">
  <button
    id="transport-btn-rewind"
    mat-icon-button
    (click)="onClick('set-previous')"
    tabindex="0">
    <mat-icon>fast_rewind</mat-icon>
  </button>

  <!-- <button
    id="transport-btn-record"
    mat-icon-button
    (click)="onClick('set-record')"
    tabindex="0">
    <mat-icon>fiber_manual_record</mat-icon>
  </button> -->

  <!-- <button
    id="transport-btn-pause"
    mat-icon-button
    (click)="onClick('set-pause')"
    tabindex="0">
    <mat-icon>pause</mat-icon>
  </button> -->

  <button
    id="transport-btn-stop"
    mat-icon-button
    (click)="onClick('set-stop')"
    tabindex="0">
    <mat-icon>stop</mat-icon>
  </button>

  <div id="transport-btn-play" class="neutral">
    <button
      mat-icon-button
      (click)="onClick('ticker-play')"
      tabindex="0">
      <mat-icon>circle_play</mat-icon>
    </button>
  </div>

  <button
    id="transport-btn-forward"
    mat-icon-button
    (click)="onClick('set-forward')"
    tabindex="0">
    <mat-icon>fast_forward</mat-icon>
  </button>

  <button
    id="transport-btn-refresh"
    mat-icon-button
    (click)="onClick('set-refresh')"
    tabindex="0">
    <mat-icon>loop</mat-icon>
  </button>

  <button
    id="transport-btn-clear"
    mat-icon-button
    (click)="onClick('set-clear')"
    tabindex="0">
    <mat-icon>clear_all</mat-icon>
  </button>
</div>
