<div class="mini-nav">
  <button class="mini-nav-btn">add</button>
  <button class="mini-nav-btn">remove</button>
  <button class="mini-nav-btn">clear</button>

  <button class="mini-nav-btn">prev</button>
  <button class="mini-nav-btn">rec</button>
  <button class="mini-nav-btn">pause</button>
  <button class="mini-nav-btn">stop</button>
  <button class="mini-nav-btn">play</button>
  <button class="mini-nav-btn">forward</button>

  <button class="mini-nav-btn">refresh</button>
  <button class="mini-nav-btn">snapshot</button>
  <div class="mini-nav-section">
    <label> x 2</label>
    <input class="mini-nav-checkbox" type="checkbox" id="" name="" value="">
    <label> x 4</label>
    <input class="mini-nav-checkbox" type="checkbox" id="" name="" value="">
    <label> x 8</label>
    <input class="mini-nav-checkbox" type="checkbox" id="" name="" value="">
    <label> x 16</label>
    <input class="mini-nav-checkbox" type="checkbox" id="" name="" value="">
  </div>
</div>
