<div>
  <app-ticker-nav></app-ticker-nav>
  <table *ngIf="players != undefined" id="player-table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th *ngFor="let col of playerCols">
        {{ col }}
      </th>
    </tr>

    <tr *ngFor="let player of players;" class="active-table-row" id="player-row-{{player.id}}"
      (mouseenter)="onPass(player, $event)" (click)="onRowClick(player, $event)">


      <td>
        <button [style.height.px]="20" id="add" (click)="onBtnClick(player, 'ticker-add')">
          <!--          <mat-icon>add_circle</mat-icon>-->
          +
        </button>
      </td>
      <td>
        <button [style.height.px]="20" id="remove" (click)="onBtnClick(player, 'ticker-remove')">
          -
          <!--          <mat-icon>remove_circle</mat-icon>-->
        </button>
      </td>
      <td>
        <button [style.height.px]="20" id="mute" (click)="onBtnClick(player, 'mute')">
          <!--          <mat-icon>mute</mat-icon>-->
          M
        </button>
      </td>



      <!-- <td class="player-short-col" id="player-col-id-{{player.id}}">
        {{ player.id }}
      </td> -->
      <!-- <td class="player-short-col" id="player-col-id-{{player.id}}">
        {{ player.instrument.id }}
      </td> -->
      <!-- <td class="player-short-col" id="player-col-id-{{player.id}}" (change)="onPresetChange(player, $event)">
        <input type="text" value="{{ player.id}}">
      </td> -->

      <td class="player-selected-long-col" id="player-col-instrument-{{player.id}}">
        <app-instrument-selector (instrumentSelectEvent)="onInstrumentSelected($event, player)"
          [instruments]="instruments" [player]="player"></app-instrument-selector>
      </td>
      <!-- <td class="player-short-col" id="player-col-instrument-id-{{player.id}}">
        {{ player.instrument.channel }}
      </td> -->
      <td class="player-short-col" id="player-col-preset-{{player.id}}" (change)="onPresetChange(player, $event)">
        <input type="number" min="1" step="1" value="{{ player.preset}}">
      </td>
      <td class="player-short-col" (change)="onNoteChange(player, $event)">
        <input type="number" min="1" max="127" step="1" value="{{ player.note }}">
      </td>
      <td>
        <button [style.height.px]="20" id="audition" (click)="onBtnClick(player, 'audition')">
          <!--          <mat-icon>mute</mat-icon>-->
          P
        </button>
      </td>
      <td class="player-short-col" (change)="onSubsChange(player, $event)">
        <input type="number" min="1" max="16" step="1" value="{{ player.subDivisions }}">
      </td>
      <td class="player-short-col" (change)="onBeatFractionChange(player, $event)">
        <input type="number" min="1" max="{{ player.subDivisions }}" step="1" value="{{ player.beatFraction }}">
      </td>
      <td class="player-short-col" (change)="onSkipsChange(player, $event)">
        <input type="number" min="1" max="100" step="1" value="{{ player.skips }}">
      </td>
      <td class="player-short-col" (change)="onSwingChange(player, $event)">
        <input type="number" min="0" max="100" step="1" value="{{ player.swing }}">
      </td>
      <td class="player-short-col" (change)="onProbabilityChange(player, $event)">
        <input type="number" min="0" max="100" step="1" value="{{ player.probability }}">
      </td>
      <!-- <td class="player-short-col" (change)="onLevelChange(player, $event)">
        <input type="number" min="1" max="127" step="1" value="{{ player.level }}">
      </td> -->
      <td class="player-short-col" (change)="onRatchetCountChange(player, $event)">
        <input type="number" min="0" max="127" step="1" value="{{ player.ratchetCount }}">
      </td>
      <td class="player-short-col" (change)="onRatchetIntervalChange(player, $event)">
        <input type="number" min="1" max="16" step="1" value="{{ player.ratchetInterval }}">
      </td>
      <td class="player-short-col" (change)="onMinVelocityChange(player, $event)">
        <input type="number" min="1" max="127" step="1" value="{{ player.minVelocity }}">
      </td>
      <td class="player-short-col" (change)="onMaxVelocityChange(player, $event)">
        <input type="number" min="1" max="127" step="1" value="{{ player.maxVelocity }}">
      </td>
    </tr>
    <tr *ngIf="players == undefined || players.length == 0">
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>
      <td class="player-short-col"></td>


    </tr>
  </table>
</div>

<!--    <ng-container-->
<!--      [matColumnDef]="col"-->
<!--      *ngFor="let col of playerCols">-->

<!--      <td mat-cell *matCellDef="let element ">-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="col"-->
<!--          [value]="element[col]"-->
<!--          [(ngModel)]="element[col]"-->
<!--        />-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="playerCols"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: playerCols"></tr>-->

<!--  <table mat-table [dataSource]="players">-->
<!--    <ng-container-->
<!--      [matColumnDef]="col"-->
<!--      *ngFor="let col of playerCols">-->
<!--      <th mat-header-cell *matHeaderCellDef>-->
<!--        {{ col }}-->
<!--      </th>-->

<!--      <td mat-cell *matCellDef="let element ">-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="col"-->
<!--          [value]="element[col]"-->
<!--          [(ngModel)]="element[col]"-->
<!--        />-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="playerCols"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: playerCols"></tr>-->
<!--  </table>-->
