p {
  font-family: Lato;
}

.knob-wrapper{
  width: 200px;
  height: 200px;
  /*border: 1px solid #333;*/
  touch-action: none;
}

.knob-wheel {
  background: #333;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.knob-thumb{
  position: absolute;
  background: #999;
  width: 20px;
  height: 40px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
