<table>
  <tr>
    <th *ngFor="let col of ruleCols">
      {{ col}}
    </th>
    <th><b>+</b></th>
    <th><b>-</b></th>
  </tr>

  <tr class *ngFor="let rule of player?.rules;">
    <td>
      <form>
        <select id="operatorSelect-{{rule.id}}" (change)="onOperatorChange(rule, $event)">
          <option *ngFor="let opt of OPERATOR" [value]="opt">{{opt}}</option>
        </select>
      </form>
    </td>
    <td>
      <form>
        <select id="comparisonSelect-{{rule.id}}" (change)="onComparisonChange(rule, $event)">
          <option *ngFor="let opt of COMPARISON" [value]="opt">{{opt}}</option>
        </select>
      </form>
    </td>
    <td class="player-short-col">
      <input type="number" step=".25" value={{rule.value}} (change)="onValueChange(rule, $event)"
             minlength="4" maxlength="8" size="10">
    </td>
    <td>
      <button [style.height.px]="20" id="add" (click)="btnClicked(rule, 'add')"></button>
    </td>
    <td>
      <button [style.height.px]="20" id="remove" (click)="btnClicked(rule, 'remove')"></button>
    </td>
  </tr>
  <tr *ngIf="player == undefined || player.rules.length == 0">
    <td class="player-short-col">
    </td>
    <td class="player-short-col">
    </td>
    <td class="player-short-col">
    </td>
    <button *ngIf="player != undefined" [style.height.px]="20" id="add2" (click)="initBtnClick()"></button>
    <div *ngIf="player == undefined" [style.height.px]="24"></div>
    <td>
    </td>
    <td class="player-short-col">
    </td>
  </tr>
</table>
