<div>
  <mat-tab-group>
    <mat-tab *ngFor="let pattern of song?.patterns;" label="Linear {{pattern.position + 1}}">
      <!-- <app-control-panel808 class="control-panel808"></app-control-panel808> -->
      <app-beat-spec-detail [pattern]="pattern" [songId]="song.id" (instrumentSelectEvent)="onInstrumentSelected($event, pattern)" class=""></app-beat-spec-detail>
      <div class="interface-808">
        <div class="side-panel-808">
          <mat-divider [style.height.px]="10"></mat-divider>
          <!-- <app-instrument-selector></app-instrument-selector> -->

          <mat-divider [style.height.px]="10"></mat-divider>
          <label>Pitch</label>
          <label>Velocity</label>
          <label>Probability</label>
          <label>Gate</label>
          <mat-divider [style.height.px]="10"></mat-divider>
        </div>

        <app-beat-spec-panel *ngFor="let step of pattern.steps;" [page]=pattern.position [step]=step (changeEvent)="onStepChanged(step)"
                             (paramBtnClickEvent)="paramsBtnClicked($event)"></app-beat-spec-panel>
      </div>
      <!-- <app-params-panel808 class="control-panel808"></app-params-panel808> -->
    </mat-tab>
  </mat-tab-group>
</div>
<!--<app-pads-panel></app-pads-panel>-->
<!--<app-drum-grid [channel]="10"></app-drum-grid>-->
<!-- <app-slider-panel [channel]="10"></app-slider-panel> -->

