<div>
  <mat-tab-group>
    <mat-tab *ngFor="let page of pages;" label="Track {{page}}">

      <div class="interface-808">
        <div class="side-panel-808">
          <!-- <app-instrument-selector></app-instrument-selector> -->
          <mat-divider [style.height.px]="10"></mat-divider>
          <label>Track {{page}}</label>
          <mat-divider [style.height.px]="10"></mat-divider>
          <label>Pitch</label>
          <label>Velocity</label>
          <label>Probability</label>
          <label>Gate</label>
          <!-- <input id="last-step-input-" + page type="number" min="1" max="64"> -->
        </div>


        <app-beat-spec-panel *ngFor="let step of steps;" [stepData]=step (change)="onStepChanged(step)"
                             (paramBtnClickEvent)="paramsBtnClicked($event)"></app-beat-spec-panel>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
<!--<app-pads-panel></app-pads-panel>-->
<!--<app-drum-grid [channel]="10"></app-drum-grid>-->
<app-slider-panel [channel]="10"></app-slider-panel>

