<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab *ngFor="let pattern of song?.patterns;" [label]="getLabel(pattern)">
    <!-- <app-control-panel808 class="control-panel808"></app-control-panel808> -->
    <app-set-nav></app-set-nav>
    <app-beat-spec-detail [instruments]="instruments" [pattern]="pattern" [songId]="song.id"
      (instrumentSelectEvent)="onInstrumentSelected($event, pattern)" class=""></app-beat-spec-detail>
    <div class="interface-808">
      <div class="side-panel-808">
        <mat-divider [style.height.px]="36"></mat-divider>
        <label>Pitch</label>
        <label>Velocity</label>
        <label>Probability</label>
        <label>Gate</label>
        <label class="info" [textContent]="getLabel(pattern)"></label>
      </div>

      <app-beat-spec-panel *ngFor="let step of pattern.steps;" [page]=pattern.position [step]=step
        [instrument]="getInstrumentForStep(pattern, step)" (changeEvent)="onStepChanged(step)"
        (paramBtnClickEvent)="paramsBtnClicked($event)"></app-beat-spec-panel>
    </div>
    <!-- <app-params-panel808 class="control-panel808"></app-params-panel808> -->
  </mat-tab>
</mat-tab-group>
<!--<app-pads-panel></app-pads-panel>-->
<!--<app-drum-grid [channel]="10"></app-drum-grid>-->
<!-- <app-slider-panel [channel]="10"></app-slider-panel> -->
