<div class="button-bar debug">
  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-icon-button
      (click)="onClick('rule-add')"
      tabindex="0">
      <mat-icon>add</mat-icon>
    </button>
  <!-- </div> -->

  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-icon-button
      (click)="onClick('rule-delete')"
      tabindex="0">
      <mat-icon>remove</mat-icon>
    </button>
  <!-- </div> -->

  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-icon-button
      (click)="onClick('rule-clear')"
      tabindex="0">
      <mat-icon>clear</mat-icon>
    </button>
  <!-- </div> -->
  </div>
