<div class="flex-container-horizontal">
  <app-midin-instrument-combo class="wide-combo" [instruments]="instruments" [identifier]="comboId"
    (instrumentSelectEvent)="onInstrumentSelected($event)"></app-midin-instrument-combo>
  <div class="flex-container-horizontal">
    <button class="mini-btn" *ngFor="let note of range" id="mini-note-btn-{{note}}"
      (click)="onNoteClicked(note, $event)">{{getNote(note)}}</button>
  </div>
</div>
<div class="flex-container-horizontal">
  <div class="flex-container-vertical">
    <button class="mini-btn mini-control-btn">𝅗𝅥</button>
    <button class="mini-btn mini-control-btn">3</button>
    <button class="mini-btn mini-control-btn">♩</button>
    <button class="mini-btn mini-control-btn">♪</button>
    <button class="mini-btn mini-control-btn">𝅘𝅥𝅯</button>
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn mini-control-btn"> </button>
    <button class="mini-btn mini-control-btn">N</button>
    <button class="mini-btn mini-control-btn">N</button>
    <button class="mini-btn mini-control-btn">N</button>
    <button class="mini-btn mini-control-btn">N</button>
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn mini-control-btn">𝅗𝅥</button>
    <button class="mini-btn mini-control-btn">S</button>
    <button class="mini-btn mini-control-btn">S</button>
    <button class="mini-btn mini-control-btn">S</button>
    <button class="mini-btn mini-control-btn">𝅘𝅥𝅯</button>
  </div>
  <div class="flex-container-vertical">
    <div class="flex-container-vertical">
      <app-button-panel [identifier]=resolution[0] [colCount]="colCount"
        [symbols]="getAccentsAsStrings()"></app-button-panel>
      <app-button-panel [identifier]=resolution[1] [colCount]="colCount"
        [symbols]="getTicksAsStrings()"></app-button-panel>
      <app-button-panel [identifier]=resolution[2] [colCount]="colCount"
        [symbols]="getBeatsAsStrings()"></app-button-panel>
      <app-button-panel [identifier]=resolution[3] [colCount]="colCount"
        [symbols]="getBarsAsStrings()"></app-button-panel>
      <app-button-panel [identifier]=resolution[4] [colCount]="colCount"
        [symbols]="getPartsAsStrings()"></app-button-panel>
    </div>
  </div>

  <!-- <div class="flex-container-vertical">
    <button class="mini-btn mini-control-btn"> </button>
   <button class="mini-btn mini-control-btn"> </button>
    <button class="mini-btn mini-control-btn">♬</button>
    <button class="mini-btn mini-control-btn"> </button>
    <button class="mini-btn mini-control-btn">!</button>
  </div> -->
