<div class="mini-nav-debug">
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
</div>
<div class="mini-nav-debug">
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
  <button class="mini-nav-grid-btn"></button>
</div>
