<div class="flex-container-horizontal">
  <app-midin-instrument-combo [instruments]="instruments" [identifier]="identifier" (instrumentSelectEvent)="onInstrumentSelected($event)"></app-midin-instrument-combo>
</div>
<div class="flex-container-horizontal">
  <div class="flex-container-vertical">
    <!-- <label>Tick </label>
    <label>Beat </label>
    <label>Bar </label>
    <label>Part </label>
  </div> -->
  <div class="flex-container-vertical">
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn">2</button>
      <button class="mini-nav-btn" class="mini-nav-btn" (click)="onTickBackClicked()"><</button>
      <button class="mini-nav-btn" *ngFor="let tick of tickRange" id="mini-tick-btn-{{tick}}" (click)="onTickClicked(tick, $event)">{{tick + 1}}</button>
      <button class="mini-nav-btn" *ngFor="let o of tickOverflow" id="mini-tick-btn-{{o}}">{{o}}</button>
    </div>
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn">4</button>
      <button class="mini-nav-btn" class="mini-nav-btn"> </button>
      <button class="mini-nav-btn" *ngFor="let tick of tickRange" id="mini-accent-btn-{{tick}}" (click)="onTickClicked(tick, $event)">..</button>
      <!-- <button class="mini-nav-btn" *ngFor="let tick of tickOverflow"> - </button> -->
    </div>
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn">8</button>
      <button class="mini-nav-btn" class="mini-nav-btn"><</button>
      <button class="mini-nav-btn" *ngFor="let beat of beats" id="mini-beat-btn-{{beat}}" (click)="onBeatClicked(beat, $event)">{{beat}}</button>
    </div>
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn">16</button>
      <button class="mini-nav-btn" class="mini-nav-btn"><</button>
      <button class="mini-nav-btn" *ngFor="let bar of bars" id="mini-bar-btn-{{bar}}" (click)="onBarClicked(bar, $event)">{{bar}}</button>
    </div>
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn">64</button>
      <button class="mini-nav-btn" class="mini-nav-btn"><</button>
      <button class="mini-nav-btn" *ngFor="let part of parts" id="mini-part-btn-{{part}}" (click)="onPartClicked(part, $event)">{{part}}</button>
    </div>
    <div class="flex-container-horizontal">
      <button class="mini-nav-btn" class="mini-nav-btn"> </button>
      <button class="mini-nav-btn" class="mini-nav-btn"> </button>
      <button class="mini-nav-btn" *ngFor="let note of range" id="mini-note-btn-{{note}}" (click)="onNoteClicked(note, $event)">{{note}}</button>
    </div>
    <!-- <div class="flex-container-horizontal">
      <button class="mini-nav-btn" *ngFor="let res of resolution" class="">{{res}}</button>
    </div> -->
    </div>
</div>
<div class="flex-container-vertical">
  <button class="mini-nav-btn" class="mini-nav-btn"  (click)="onTickForwardClicked()">></button>
  <button class="mini-nav-btn" class="mini-nav-btn"> </button>
  <button class="mini-nav-btn" class="mini-nav-btn">></button>
  <button class="mini-nav-btn" class="mini-nav-btn">></button>
  <button class="mini-nav-btn" class="mini-nav-btn">></button>
  <button class="mini-nav-btn" class="mini-nav-btn"> </button>

</div>
