<div class="branding-div">
  <label class="branding-label">Beat Generator, Mark Pippins, 2023</label>
</div>
<div class="transport-buttons">
  <button
    id="record"
    mat-mini-fab
    (click)="onClick('record')"
    tabindex="0">
    <mat-icon>fiber_manual_record</mat-icon>
  </button>

  <button
    id="rewind"
    mat-mini-fab
    (click)="onClick('rewind')"
    tabindex="0">
    <mat-icon>fast_rewind</mat-icon>
  </button>

  <button
    id="play"
    mat-mini-fab
    (click)="onClick('play')"
    tabindex="0">
    <mat-icon>play_circle</mat-icon>
  </button>

  <button
    id="forward"
    mat-mini-fab
    (click)="onClick('forward')"
    tabindex="0">
    <mat-icon>fast_forward</mat-icon>
  </button>

  <button
    id="pause"
    mat-mini-fab
    (click)="onClick('pause')"
    tabindex="0">
    <mat-icon>pause_circle</mat-icon>
  </button>

  <button
    id="stop"
    mat-mini-fab
    (click)="onClick('stop')"
    tabindex="0">
    <mat-icon>stop</mat-icon>
  </button>

  <button
    id="loop"
    mat-mini-fab
    (click)="onClick('loop')"
    tabindex="0">
    <mat-icon>loop</mat-icon>
  </button>

  <button
    id="snap"
    mat-mini-fab
    (click)="onClick('snap')"
    tabindex="0">
    <mat-icon>camera_alt</mat-icon>
  </button>

  <button
    id="add"
    mat-mini-fab
    (click)="onClick('add')"
    tabindex="0">
    <mat-icon>add_circle</mat-icon>
  </button>

  <button
    id="clear"
    mat-mini-fab
    (click)="onClick('clear')"
    tabindex="0">
    <mat-icon>clear_all</mat-icon>
  </button>
</div>
