<div class="transport-buttons">
  <button
    id="transport-btn-rewind"
    mat-mini-fab
    (click)="onClick('previous')"
    tabindex="0">
    <mat-icon>fast_rewind</mat-icon>
  </button>

  <button
    id="transport-btn-record"
    mat-mini-fab
    (click)="onClick('record')"
    tabindex="0">
    <mat-icon>fiber_manual_record</mat-icon>
  </button>

  <button
    id="transport-btn-pause"
    mat-mini-fab
    (click)="onClick('pause')"
    tabindex="0">
    <mat-icon>pause_circle</mat-icon>
  </button>

  <button
    id="transport-btn-stop"
    mat-mini-fab
    (click)="onClick('stop')"
    tabindex="0">
    <mat-icon>stop</mat-icon>
  </button>

  <div id="transport-btn-play" class="neutral">
    <button
      mat-mini-fab
      (click)="onClick('play')"
      tabindex="0">
      <mat-icon>play_circle</mat-icon>
    </button>
  </div>

  <button
    id="transport-btn-forward"
    mat-mini-fab
    (click)="onClick('forward')"
    tabindex="0">
    <mat-icon>fast_forward</mat-icon>
  </button>

  <button
    id="transport-btn-loop"
    mat-mini-fab
    (click)="onClick('refresh')"
    tabindex="0">
    <mat-icon>loop</mat-icon>
  </button>

  <button
    id="transport-btn-snap"
    mat-mini-fab
    (click)="onClick('save')"
    tabindex="0">
    <mat-icon>camera_alt</mat-icon>
  </button>

  <button
    id="transport-btn-add"
    mat-mini-fab
    (click)="onClick('add')"
    tabindex="0">
    <mat-icon>add_circle</mat-icon>
  </button>

  <button
    id="transport-btn-clear"
    mat-mini-fab
    (click)="onClick('clear')"
    tabindex="0">
    <mat-icon>clear_all</mat-icon>
  </button>
</div>
