.transport-container {
  display: flex;
  gap: 2px;
  background-color: transparent;
  padding: 2px;
  align-items: flex-start;
  max-height: 60px;
}

.transport-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  align-content: center;
  text-align: center;
  max-height: 55px;
  margin: 0 0 0 0;
}

.transport-button {
  height: 36px;
  width: 37px;
  font-size: 9px;
  text-align: center;
  align-content: center;
  margin-inside: 5px;
}


.branding-div {
  font-size: xx-small;
  font-style: oblique;
  text-align: left;
  margin-top: 4px;
  /*align-self: stretch;*/
}

.branding-label {
  padding: 2px;
  color: silver;
  /*border-style: groove;*/
}
