/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
/*  background-color: blue;*/
/*}*/

td, #customers th {
  border: 1px solid #ddd;
  padding: 2px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: coral;}

th {
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  background-color: #04AA6D;
  color: white;
  text-align: center;
  font-size: smaller;
  font-weight: normal;
}

.player-short-col {
  width: 60px;
}

.player-long-col {
  width: 140px;
}
