<div class="button-bar">
  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-raised-button
      (click)="onClick('rule-add')"
      tabindex="0">
      add
    </button>
  <!-- </div> -->

  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-raised-button
      (click)="onClick('rule-delete')"
      tabindex="0">
      remove
    </button>
  <!-- </div> -->

  <!-- <div id="transport-btn-play" class="neutral"> -->
    <button
      mat-raised-button
      (click)="onClick('rule-clear')"
      tabindex="0">
      clear
    </button>
  <!-- </div> -->
  </div>
