<button [ngClass]="getPadClass()" id="pad-{{index}}" tabindex="0" (click)="padPressed()">
  <div class="{{getPadRingClass()}}" id="pad-ring-{{index}}">
    <div class="" id="pad-indicator-left-{{index}}">

    </div>
    <div class="" id="pad-indicator-center-{{index}}">

    </div>
    <div class="" id="pad-indicator-right-{{index}}">

    </div>
    <div class="">
      <label>{{ name }}</label>
    </div>
    <div class="">
      <label>{{ note }}</label>
    </div>
    <div class="">
      <!-- <label>{{ otherNote }}</label> -->
    </div>


    <!-- <div class="pad-content">
      <label><u>{{ name }}</u></label>
      <label>{{ note }}</label>
      <label>{{ otherNote }}</label>
    </div> -->
  </div>
</button>
