<button class="{{getPadClass()}}" id="pad-{{index}}" tabindex="0" (click)="padPressed()">
  <div class="{{getPadRingClass()}}" id="pad-ring-{{index}}">
    <div class="pad-indicator" id="pad-indicator-left-{{index}}">
      <div class="{{getIndicatorClass(0)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(1)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="pad-indicator-text">{{caption}}</div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class=""></div>
    </div>
  </div>
</button>
